docker/NiFi/hdfs_to_redis.json
{"flowContents":{"identifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736","instanceIdentifier":"83939a3e-019e-1000-22a1-f6e550e37e8e","name":"hdfs_to_redis","comments":"","position":{"x":144.0,"y":376.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"df98f132-eaf9-356b-8062-31d8cfec4357","instanceIdentifier":"7ed700a8-019e-1000-665d-53eb67118d94","name":"ListHDFS","comments":"","position":{"x":1008.0,"y":144.0},"type":"org.apache.nifi.processors.hadoop.ListHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.1"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-site.xml","maximum-file-age":null,"record-writer":null,"Additional Classpath Resources":null,"Recurse Subdirectories":"true","file-filter-mode":"filter-mode-files-only","File Filter":".*\\.csv","kerberos-credentials-service":null,"Kerberos Keytab":null,"Kerberos Principal":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","minimum-file-age":null,"Directory":"/progetto_sabd/results/dataframe/query1"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"9a78e14b-c34b-3191-826d-69afa582afb5","instanceIdentifier":"7ffb711b-019e-1000-103b-1fbcbdf32834","name":"UpdateAttribute","comments":"","position":{"x":1008.0,"y":328.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","redis_key":"query1","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"redis_key":{"name":"redis_key","displayName":"redis_key","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"88ff3fed-0b01-35d7-b573-ee1122897fef","instanceIdentifier":"7ffb82a5-019e-1000-960f-4470c637192f","name":"UpdateAttribute","comments":"","position":{"x":528.0,"y":328.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","redis_key":"query2","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"redis_key":{"name":"redis_key","displayName":"redis_key","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"1c1e4d90-4293-3224-92c7-83deca356f6a","instanceIdentifier":"7ed72efa-019e-1000-920c-9f1396a49d91","name":"FetchHDFS","comments":"","position":{"x":752.0,"y":544.0},"type":"org.apache.nifi.processors.hadoop.FetchHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.1"},"properties":{"HDFS Filename":"${path}/${filename}","Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-site.xml","kerberos-credentials-service":null,"Kerberos Keytab":null,"Additional Classpath Resources":null,"Kerberos Principal":null,"Compression codec":"NONE","kerberos-user-service":null,"Kerberos Relogin Period":"4 hours"},"propertyDescriptors":{"HDFS Filename":{"name":"HDFS Filename","displayName":"HDFS Filename","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":2,"autoTerminatedRelationships":["comms.failure","failure"],"scheduledState":"ENABLED","retryCount":2,"retriedRelationships":["comms.failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"aab93522-e992-31ba-a4e3-6cd4862b01a0","instanceIdentifier":"7fd0b287-019e-1000-2d96-f15de49de4f8","name":"UpdateAttribute","comments":"","position":{"x":1216.0,"y":760.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"filename":"${filename:replace('.csv', '.json')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"b7163d5e-0a6b-370f-80d0-ca5f2f5bbe4a","instanceIdentifier":"7fff3d76-019e-1000-732f-5a6028af01da","name":"PutDistributedMapCache","comments":"","position":{"x":1664.0,"y":760.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Cache Entry Identifier":"${redis_key}","Cache update strategy":"replace","Distributed Cache Service":"5d6c8e53-ce61-3f08-993f-09a1d6d4ba49","Max cache entry size":"10MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"6a4a9289-dab6-3d28-a9e3-eec555264bb8","instanceIdentifier":"7ffb476a-019e-1000-0d53-a83a01aa778c","name":"ListHDFS","comments":"","position":{"x":528.0,"y":144.0},"type":"org.apache.nifi.processors.hadoop.ListHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.1"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-site.xml","maximum-file-age":null,"record-writer":null,"Additional Classpath Resources":null,"Recurse Subdirectories":"true","file-filter-mode":"filter-mode-files-only","File Filter":".*\\.csv","kerberos-credentials-service":null,"Kerberos Keytab":null,"Kerberos Principal":null,"kerberos-user-service":null,"Kerberos Relogin Period":"4 hours","minimum-file-age":null,"Directory":"/progetto_sabd/results/dataframe/query2"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"maximum-file-age":{"name":"maximum-file-age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"file-filter-mode":{"name":"file-filter-mode","displayName":"File Filter Mode","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"minimum-file-age":{"name":"minimum-file-age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"8b8b917c-4ea3-371e-9982-97ca166f1c9c","instanceIdentifier":"7fb31a90-019e-1000-12c7-c8b3ed51c351","name":"ConvertRecord","comments":"","position":{"x":752.0,"y":752.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"record-writer":"7e940cd8-af92-379b-a252-87045553787e","record-reader":"19af6a37-8d6d-374d-8e05-bc455623525e","include-zero-record-flowfiles":"false"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5cd6ec05-c801-3e52-bdd8-5f944c8f1375","instanceIdentifier":"7fff535d-019e-1000-8642-0f5312b41711","name":"","source":{"id":"aab93522-e992-31ba-a4e3-6cd4862b01a0","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"UpdateAttribute","comments":"","instanceIdentifier":"7fd0b287-019e-1000-2d96-f15de49de4f8"},"destination":{"id":"b7163d5e-0a6b-370f-80d0-ca5f2f5bbe4a","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"7fff3d76-019e-1000-732f-5a6028af01da"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"762baae4-d919-331a-b2cd-3c0949a4fb4a","instanceIdentifier":"7fbb6bae-019e-1000-76f2-06521e8b079a","name":"","source":{"id":"1c1e4d90-4293-3224-92c7-83deca356f6a","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"FetchHDFS","comments":"","instanceIdentifier":"7ed72efa-019e-1000-920c-9f1396a49d91"},"destination":{"id":"8b8b917c-4ea3-371e-9982-97ca166f1c9c","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"ConvertRecord","comments":"","instanceIdentifier":"7fb31a90-019e-1000-12c7-c8b3ed51c351"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"740b10a6-da03-3b7d-ac8a-bc874aec4166","instanceIdentifier":"7ffc72d9-019e-1000-9e28-91bffd11b4b3","name":"","source":{"id":"6a4a9289-dab6-3d28-a9e3-eec555264bb8","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"ListHDFS","comments":"","instanceIdentifier":"7ffb476a-019e-1000-0d53-a83a01aa778c"},"destination":{"id":"88ff3fed-0b01-35d7-b573-ee1122897fef","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"UpdateAttribute","comments":"","instanceIdentifier":"7ffb82a5-019e-1000-960f-4470c637192f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"b1abb95a-fa9f-30b1-b89a-80c22a0eaf1a","instanceIdentifier":"7ffc48af-019e-1000-cf70-5c8fbdd72ee6","name":"","source":{"id":"df98f132-eaf9-356b-8062-31d8cfec4357","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"ListHDFS","comments":"","instanceIdentifier":"7ed700a8-019e-1000-665d-53eb67118d94"},"destination":{"id":"9a78e14b-c34b-3191-826d-69afa582afb5","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"UpdateAttribute","comments":"","instanceIdentifier":"7ffb711b-019e-1000-103b-1fbcbdf32834"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"728c1148-1ea2-36c9-b4f5-11c246e48c4b","instanceIdentifier":"7ffc5e37-019e-1000-3e54-9371fbd8798f","name":"","source":{"id":"9a78e14b-c34b-3191-826d-69afa582afb5","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"UpdateAttribute","comments":"","instanceIdentifier":"7ffb711b-019e-1000-103b-1fbcbdf32834"},"destination":{"id":"1c1e4d90-4293-3224-92c7-83deca356f6a","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"FetchHDFS","comments":"","instanceIdentifier":"7ed72efa-019e-1000-920c-9f1396a49d91"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"c6a274a9-9383-3f45-a505-5c135e4a8424","instanceIdentifier":"7ffc68c6-019e-1000-7a26-29418e191fde","name":"","source":{"id":"88ff3fed-0b01-35d7-b573-ee1122897fef","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"UpdateAttribute","comments":"","instanceIdentifier":"7ffb82a5-019e-1000-960f-4470c637192f"},"destination":{"id":"1c1e4d90-4293-3224-92c7-83deca356f6a","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"FetchHDFS","comments":"","instanceIdentifier":"7ed72efa-019e-1000-920c-9f1396a49d91"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"},{"identifier":"9eebc43c-0403-3f59-9b7f-31bdfe26afdd","instanceIdentifier":"7fd0d209-019e-1000-7545-8a028df2ac50","name":"","source":{"id":"8b8b917c-4ea3-371e-9982-97ca166f1c9c","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"ConvertRecord","comments":"","instanceIdentifier":"7fb31a90-019e-1000-12c7-c8b3ed51c351"},"destination":{"id":"aab93522-e992-31ba-a4e3-6cd4862b01a0","type":"PROCESSOR","groupId":"f76e4a7d-49d1-3c14-8b45-04dc17742736","name":"UpdateAttribute","comments":"","instanceIdentifier":"7fd0b287-019e-1000-2d96-f15de49de4f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f76e4a7d-49d1-3c14-8b45-04dc17742736"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"7e940cd8-af92-379b-a252-87045553787e":{"identifier":"7e940cd8-af92-379b-a252-87045553787e","name":"JsonRecordSetWriter"},"19af6a37-8d6d-374d-8e05-bc455623525e":{"identifier":"19af6a37-8d6d-374d-8e05-bc455623525e","name":"CSVReader"},"5d6c8e53-ce61-3f08-993f-09a1d6d4ba49":{"identifier":"5d6c8e53-ce61-3f08-993f-09a1d6d4ba49","name":"RedisDistributedMapCacheClientService"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}