docker/NiFi/uni_server_to_hdfs.json
{"flowContents":{"identifier":"da2c5336-757a-3b45-8738-820a8c579319","instanceIdentifier":"83933792-019e-1000-f5ce-0f629fb1c880","name":"uni_server_to_hdfs","comments":"","position":{"x":112.0,"y":64.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1e339a2d-1039-31ad-baa5-0020b3362076","instanceIdentifier":"5ab9cccf-019e-1000-6b6b-5c8d68c3aec6","name":"InvokeHTTP","comments":"Questo processor effettua la richiesta HTTP per scaricare il file compresso.\n","position":{"x":456.0,"y":-224.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://www.ce.uniroma2.it/courses/sabd2526/project/project-1-data.tar.gz","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Failure"],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":["Failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"},{"identifier":"ef34128b-8903-3b58-80a5-3bf111186ef5","instanceIdentifier":"5ac09f0b-019e-1000-eae8-a29be9c23ad2","name":"UnpackContent","comments":"Questo processore gestisce il formato tar e trasforma i file csv in FlowFile separati\n","position":{"x":856.0,"y":8.0},"type":"org.apache.nifi.processors.standard.UnpackContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Packaging Format":"tar","allow-stored-entries-wdd":"false","File Filter":".*"},"propertyDescriptors":{"Packaging Format":{"name":"Packaging Format","displayName":"Packaging Format","identifiesControllerService":false,"sensitive":false},"allow-stored-entries-wdd":{"name":"allow-stored-entries-wdd","displayName":"Allow Stored Entries With Data Descriptor","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"},{"identifier":"53510e28-5c5a-3d39-a1b5-e64900d0e9a7","instanceIdentifier":"5ac4d8cb-019e-1000-95ff-0e2af2c0f724","name":"PutHDFS","comments":"","position":{"x":1784.0,"y":16.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.28.1"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/core-site.xml,/opt/nifi/nifi-current/conf/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":"128MB","kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Kerberos Relogin Period":"4 hours","Directory":"/progetto_sabd/dataset","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"},{"identifier":"692a39a8-bad1-3851-b184-d0668ecd1bb1","instanceIdentifier":"5ac28d38-019e-1000-6b26-839696de8814","name":"CompressContent","comments":"Questo processore toglie il formato gzip dal file\n","position":{"x":448.0,"y":0.0},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Compression Format":"gzip","Mode":"decompress","Compression Level":"1","Update Filename":"false"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"},{"identifier":"8a016e0b-ba73-305a-90da-1c992add2b72","instanceIdentifier":"5ac3976c-019e-1000-f60f-175d7a8437b6","name":"RouteOnAttribute","comments":"Questo processore elimina i dati non necessari per l'esecuzione delle query. In particolare, sono eliminati tutti i file che iniziano con il '.' poichè sono metadati utili per MACOS, e i file AIRPORT_ID, CITY_MARKET_ID, STATE_ABBR_AVIATION e UNIQUE_CARRIER.\n","position":{"x":1328.0,"y":16.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Routing Strategy":"Route to Property name","ontime_reporting":"${filename:contains('ONTIME_REPORTING'):and(${filename:startsWith('._'):not()})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"ontime_reporting":{"name":"ontime_reporting","displayName":"ontime_reporting","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":3,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"34b77410-3f2b-39a8-8e97-63fbf89aa16e","instanceIdentifier":"98313eb5-019e-1000-0d84-7a95748d517f","name":"","source":{"id":"8a016e0b-ba73-305a-90da-1c992add2b72","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"RouteOnAttribute","comments":"Questo processore elimina i dati non necessari per l'esecuzione delle query. In particolare, sono eliminati tutti i file che iniziano con il '.' poichè sono metadati utili per MACOS, e i file AIRPORT_ID, CITY_MARKET_ID, STATE_ABBR_AVIATION e UNIQUE_CARRIER.\n","instanceIdentifier":"5ac3976c-019e-1000-f60f-175d7a8437b6"},"destination":{"id":"53510e28-5c5a-3d39-a1b5-e64900d0e9a7","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"PutHDFS","comments":"","instanceIdentifier":"5ac4d8cb-019e-1000-95ff-0e2af2c0f724"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ontime_reporting"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"},{"identifier":"43907dbf-558a-310e-bf82-032dfc68cef3","instanceIdentifier":"5ac2ceff-019e-1000-7833-f08254e16e49","name":"","source":{"id":"692a39a8-bad1-3851-b184-d0668ecd1bb1","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"CompressContent","comments":"Questo processore toglie il formato gzip dal file\n","instanceIdentifier":"5ac28d38-019e-1000-6b26-839696de8814"},"destination":{"id":"ef34128b-8903-3b58-80a5-3bf111186ef5","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"UnpackContent","comments":"Questo processore gestisce il formato tar e trasforma i file csv in FlowFile separati\n","instanceIdentifier":"5ac09f0b-019e-1000-eae8-a29be9c23ad2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"},{"identifier":"13d855f6-5668-339f-8c0e-e5eb0e02749b","instanceIdentifier":"5ac2bcf3-019e-1000-d22a-b34792417ba7","name":"","source":{"id":"1e339a2d-1039-31ad-baa5-0020b3362076","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"InvokeHTTP","comments":"Questo processor effettua la richiesta HTTP per scaricare il file compresso.\n","instanceIdentifier":"5ab9cccf-019e-1000-6b6b-5c8d68c3aec6"},"destination":{"id":"692a39a8-bad1-3851-b184-d0668ecd1bb1","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"CompressContent","comments":"Questo processore toglie il formato gzip dal file\n","instanceIdentifier":"5ac28d38-019e-1000-6b26-839696de8814"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"},{"identifier":"0cc907df-7a93-39ca-858e-125a57f6b9d8","instanceIdentifier":"5ac3b49c-019e-1000-291e-210e87dd85ab","name":"","source":{"id":"ef34128b-8903-3b58-80a5-3bf111186ef5","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"UnpackContent","comments":"Questo processore gestisce il formato tar e trasforma i file csv in FlowFile separati\n","instanceIdentifier":"5ac09f0b-019e-1000-eae8-a29be9c23ad2"},"destination":{"id":"8a016e0b-ba73-305a-90da-1c992add2b72","type":"PROCESSOR","groupId":"da2c5336-757a-3b45-8738-820a8c579319","name":"RouteOnAttribute","comments":"Questo processore elimina i dati non necessari per l'esecuzione delle query. In particolare, sono eliminati tutti i file che iniziano con il '.' poichè sono metadati utili per MACOS, e i file AIRPORT_ID, CITY_MARKET_ID, STATE_ABBR_AVIATION e UNIQUE_CARRIER.\n","instanceIdentifier":"5ac3976c-019e-1000-f60f-175d7a8437b6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"da2c5336-757a-3b45-8738-820a8c579319"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}